extends layouts/main-layout.pug

block styles
        link(rel="stylesheet", href="/css/product.css")
        link(rel="stylesheet", href="/css/form.css")

block content
    main
            form.product-form(action="/admin/add-products",method="POST")
                .form-control
                    label(for="title") Title
                    input(type="text",name="title")#title
                button(type="submit") Add Product   


//- <!DOCTYPE html>
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         meta(http-equiv="X-UA-Compatible", content="ie=edge")
//-         title #{pageTitle}
//-         link(rel="stylesheet", href="/css/main.css")
//-         link(rel="stylesheet", href="/css/product.css")
//-         link(rel="stylesheet", href="/css/form.css")
//-     body
//-         header.main-header
//-             nav.main-header-nav
//-                 ul.main-header-itemlist
//-                     li.main-header-item
//-                         a(href="/") Shop
//-                     li.main-header-item    
//-                         a.active(href="/admin/add-products") Add Product
//-         main
//-             form.product-form(action="/admin/add-products",method="POST")
//-                 .form-control
//-                     label(for="title") Title
//-                     input(type="text",name="title")#title
//-                 button(type="submit") Add Product    
